@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
  font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(135deg, #007bff, #00c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    width: 350px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3rem;
    color: #444;
    font-weight: bold;
}

input {
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    padding: 0.7rem;
    background: linear-gradient(135deg, #007bff, #00c6ff);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}
